# Dependencies
node_modules/

# Build outputs
.next/
out/
dist/
build/

# Environment files
.env
.env.local
.env.*.local
.env.production

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
coverage/
.nyc_output/

# Next.js
# https://nextjs.org/docs/app/building-your-application/configuring/src-directory
# src/out/

# Misc
*.tgz
.cache/

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
